In [8]:
from pandas_datareader import data
import datetime

start = datetime.datetime(2016, 3, 1)
end = datetime.datetime(2016, 3, 10)

df = data.DataReader(name = "AAPL", data_source="yahoo", start = start , end = end)
df

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2016-03-01,97.650002,100.769997,97.419998,100.529999,50407100,98.448766
2016-03-02,100.510002,100.889999,99.639999,100.750000,33169600,98.664213
2016-03-03,100.580002,101.709999,100.449997,101.500000,36955700,99.398686
2016-03-04,102.370003,103.750000,101.370003,103.010002,46055100,100.877427
2016-03-07,102.389999,102.830002,100.959999,101.870003,35828900,99.761029
2016-03-08,100.779999,101.760002,100.400002,101.029999,31561900,98.938415
2016-03-09,101.309998,101.580002,100.269997,101.120003,27201700,99.026556
2016-03-10,101.410004,102.239998,100.150002,101.169998,33513600,99.075516